.about-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    background: linear-gradient(120deg, #84fab0, #8fd3f4);
   
    animation: gradientBackground 10s ease infinite;
}
 /* Background Gradient Animation */
 @keyframes gradientBackground {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
  }

.about-us-section {
    position: relative;
    width: 100%;
    height: auto;
    padding: 100px 50px;
   

}

.about-us-title {
    width: 290px;
    height: 77px;
    position: absolute;
    top: 10px;
    left: 84px;
    font-family: 'Inter', sans-serif;
    font-size: 40px;
    font-weight: 600;
    line-height: 77.45px;
    text-align: center;
    color: #000000;
}

.about-us-text {
    width: 817px;
    height: 320px;
    position: absolute;
    top: 200px;
    left: 743px;
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
    font-weight: 600;
    line-height: 60px;
    text-align: center;
    color: #000000;
}


.about-us-image-container {
    position: relative;
    height: 444.29px;
    top: 50px;
    left: 100px;
    padding-bottom: 50px;
}

.image-background {
    position: absolute;
   
    height: 442.37px;
    top: 40px;
    left: -40px;
    background: #D6EFD866;
    transform: rotate(-26.54deg);
    border-radius: 100%;
}

.about-us-image {
    position: absolute;
    height: 504.29px;
    top: 0;
    object-fit: cover;
    opacity: 1;
}